{
  "presets": [
    ["env", { "modules": false }], "react"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "JSX"
      }
    ],
    "transform-es2015-modules-commonjs"
  ]
}