@import "./../vars";

.header {
  .dashboard-wrapper {
    text-align: center;
    .dashboard-icon {
      height: 1.5em;
    }
  }

  .navbar {
    background-color: $main-background-color;
    padding-left: 0;
    padding-right: 0;

    .comment-search {
      margin-right: 10px;
    }

    .rating-list {
      margin-top: 10px;
      margin-bottom: 10px;

      .rating-item {
        cursor: pointer;
        color: $rating-icon-unused-text-color;
        background-color: $main-background-color;
        border-color: $rating-icon-unused-text-color;
        border-width: 1px;
        border-style: solid;

        &.active {
          color: white;
          background-color: $rating-icon-color;
          border-color: $rating-icon-color;
        }
      }
    }
  }
}