@import "./../vars";

.rating-badge, .rating-item {
  display: inline-block;
  color: white;
  text-align: center;
  background-color: $rating-icon-color;
  border-color: $rating-icon-color;
  padding-top: 7px;
  padding-left: 0;
  margin-right: 10px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}