@import "vars";

body {
  background-color: $body-background-color;
  margin: 0 0 0 0;

  .main {
    background-color: $main-background-color;
    font: $default-font;

    a, a:visited {
      color: inherit;
    }

    .footer {
      margin-top: 20px;
    }
  }
}