@import "vars";
@import "./components/Shared";

html {
  body {
    background-color: $body-background-color;
    margin: 0 0 0 0;

    .main {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $main-background-color;
      font: $default-font;

      a, a:visited {
        color: inherit;
      }
    }
  }
}
